.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
infra/terraform/terraform.tfvars
node_modules/*
.bw-appdata
dist/*
playwright-report/
test-results/
